* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

body {
    height: 100vh; 
    font-family: 'Bangers', cursive;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img {
  width: 100%;
  height: 100%; 

}

.hidden{
    display: none;
}

h1 {
    font-size: 60px;
}

.buttons { 
    display: flex; 
    justify-content: space-between;
    width: 20%; 
}

.startButton {
    cursor: pointer;
}

.restartButton {
    cursor: pointer;
}

.memorygame {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
    position: relative;
    width: 90%; 
}

.memorycard {
    border: 2px solid black; 
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    margin: 5px; 
    width: 150px; 
    height: 150px; 
    position: relative; 
}

.memorycard.flip {
    transform: rotateY(180deg)
}

.memorycard:active {
    transform: scale(.97);
    transition: transform .2s; 

}


.frontface {
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}


.frontface, 
.backface {
    position: absolute; 
    width: 100%;
    height: 100%; 
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; 
}
